.bg-black{
  background: black !important;
}
.bg-img-cover{
  background-image: url('../images/banner.jpg'); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: bottom;
}
.padding-top-navbar{
  padding-top: 55px;
}