/*color scheme system*/
:root {
  --primary-hs: 85, 50%,;

  --clr-primary-50: hsl(var(--primary-hs) 95%);
  --clr-primary-100: hsl(var(--primary-hs) 90%);
  --clr-primary-200: hsl(var(--primary-hs) 80%);
  --clr-primary-300: hsl(var(--primary-hs) 70%);
  --clr-primary-500: hsl(var(--primary-hs) 50%);
  --clr-primary-600: hsl(var(--primary-hs) 40%);
  --clr-primary-700: hsl(var(--primary-hs) 30%);
  --clr-primary-800: hsl(var(--primary-hs) 20%);
  --clr-primary-900: hsl(var(--primary-hs) 10%);
  --clr-primary-950: hsl(var(--primary-hs) 5%); 
  
}
.table-dark {
	--bs-table-bg: var(--clr-primary-900);
	--bs-table-striped-bg: var(--clr-primary-950);
}
.bg-dark, .btn-dark{
  background-color: var(--clr-primary-900) !important;
}
.btn-primary {
  background-color: var(--clr-primary-500);
}
a{
  color: var(--clr-primary-600);
}
a:active, a:focus,a:hover{
  color: var(--clr-primary-700);
}
.bg-primary{
  background-color: var(--clr-primary-500) !important;
}
.bg-black{
  background-color: var(--clr-primary-950) !important;
}
.accordion-button:focus, .navbar-toggler:focus, .btn-dark:focus, .form-select:focus{
  border-color: var(--clr-primary-300);
  box-shadow: 0px 0px 0px 4px hsla(var(--primary-hs) 50%, 0.4);
}
.accordion-button::after, .accordion-button:not(.collapsed)::after{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='grey'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") 
}

.bg-img-cover{
  background-image: url('../images/banner.jpg'); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: bottom;
}
.padding-top-navbar{
  padding-top: 55px;
}