<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>JRM Diseño Web</title>
    <style>
      .bg-black{
        background: black;
      }
    </style>
  </head>
  <body class="bg-black text-light">
    <div id="app">
      <app-btn :button="posts.cards[0].button"></app-btn>
      <app-card :card="home.cards[0]"></app-card>
      <list-group-flush :list="about.cards[0].features"></list-group-flush>
      <kitchen-sink :card="about.cards[0]"></kitchen-sink>
      <app-carousel :carousel="home.carousel"></app-carousel>
      

    </div>
  </body>
  <script>
    const rootComponent = {
      data() {
        return {
          home: {
            carousel: [
              {
                image: 'https://picsum.photos/400/150',
                alt: ''
              },
              {
                image: 'https://picsum.photos/400/150',
                alt: ''
              }
            ],
            jumbotron: {
              title: 'Bienvenido a JRM Diseño Web',
              text: 'En éste, mi espacio de internet, demostraré mis capacidades para el diseño y desarrollo web, entre otras cosas. Acompáñame en este viaje de crecimiento personal.'
            },
            cards: [
              {
                image: 'https://picsum.photos/200/100',
                alt: '...',
                title: 'Mi primer post',
                text: 'Texto del post',
                button: {
                  link: '#',
                  text:'Adiós'
                }
              }
            ]
          },
          about: {
            title: 'Sobre mí',
            cards: [
              {
                image: 'https://picsum.photos/400/200',
                alt: 'yo',
                title: 'Jose Rivera',
                text: 'Me considero una persona responsable, optimista, creativa impulsador de metas y desafios prsonales, capaz de vencer los miedos para generar cambios, con capacidad para el trabajo en equipo',
                list: ['Estudiante en computacion', 'Estudiante en diseño gráfico'],
                buttons: [
                  {
                    icon: 'bi bi-facebook',
                    link: 'https://facebook.com'
                  },
                  {
                    icon: 'bi bi-linkedin',
                    link: 'https://linkedin.com'
                  }
                ]
              }
            ]
          },
          gallery: {
            title: 'Galeria',
            cards: [
              {
                image: '...',
                alt: '...',
                description: '...'
              }
            ]
          },
          posts: {
            title: 'Artículos',
            cards: [
              {
                image: 'https://picsum.photos/200/100',
                alt: '...',
                title: 'Mi primer post',
                text: 'Texto del post',
                button: {
                  link: '#',
                  text:'Hola'
                }
              }
            ]
          },
          projects: {
            title: 'Proyectos',
            cards: [
              {
                image: 'https://picsum.photos/200/100',
                alt: '...',
                title: 'Mi primer post',
                text: 'Texto del post',
                button: {
                  link: '#',
                  text:'Hola'
                }
              }
            ]
          }
        }
      }
    }
    const app = Vue.createApp(rootComponent)
    //components
    //buttons
    app.component('app-btn-icon',{
      props: ['button'],
      template: `
        <a :href=" button.link" class="btn btn-outline-light btn-lg me-2 p-2">
          <i :class="button.icon"></i>
        </a>
      `
    })
    app.component('app-btn',{
      props: ['button'],
      template: `
        <a class="btn btn-primary" :href="button.link" role="button">{{ button.text }}</a>
      `
    })
    //cards
    app.component('app-card',{
      props: ['card'],
      template: `
        <div class="card bg-dark" style="width: 18rem;">
          <img :src="card.image" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ card.title }}</h5>
            <p class="card-text">{{ card.text }}</p>
            <app-btn :button="card.button"></app-btn>
          </div>
        </div>
      `
    })
    app.component('list-group-flush',{
      props: ['list'],
      template: `
        <ul class="list-group list-group-flush">
          <li v-for="item in list" class="list-group-item bg-dark text-light">{{ item }}</li>
        </ul>
      `
    })
    app.component('kitchen-sink',{
      props: ['card'],
      template: `
        <div :card="card" class="card bg-dark" style="width: 18rem;">
          <img :src="card.image" class="card-img-top" :alt="card.alt">
          <div class="card-body">
            <h5 class="card-title">{{ card.title }}</h5>
            <p class="card-text">{{ card.text }}</p>
          </div>
          <list-group-flush :list="card.list"></list-group-flush>
          <div class="card-body">
            <app-btn-icon v-for="button in card.buttons" :button="button"></app-btn-icon>
          </div>
        </div>
      `
    })
    app.component('app-carousel',{
      props: ['carousel'],
      template: `
        <div id="carouselExampleControls" class="carousel slide mb-2" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item" v-for="(item, index) in carousel" :class="{'active': index === 0}">
              <img :src="item.image" class="d-block w-100" :alt="item.alt">
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      `
    })
    app.mount('#app')
  </script>
</html>