<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>JRM Diseño Web</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body class="bg-black text-light padding-top-navbar">
    <div id="app">
      <app-navbar></app-navbar>
      <app-jumbotron :jumbotron="intro" class="bg-img-cover"></app-jumbotron>
      <div class="container my-3">
        
        <div class="row">
          <div class="col-lg-8">
            <h2 class="fw-bold">Novedades</h2>
            <p>Read more at hacks.mozilla.org</p>
            <app-simple-card  v-for="card in cards" :item="card" class="mb-3"></app-simple-card>
          </div>
          <div class="col-lg-4">
            <h5 class="card-title fw-bold h2">{{ about.title }}</h5>
            <p class="card-text">{{ about.body }}</p>           
            <div v-for="item in about.list" >
              <a :href="item.link" class="text-decoration-none">{{ item.text }}</a>
              <hr class="my-2">
            </div>
          </div>
        </div>   
      </div>
      <app-footer></app-footer>
    </div>
    <script>
      console.log(window.location.pathname)
      const rootComponent = {
        data() {
          return {
            carousel: [
              {
                image: 'https://picsum.photos/800/300',
                alt: ''
              },
              {
                image: 'https://picsum.photos/800/300',
                alt: ''
              }
            ],
            intro: {
              title: 'Bienvenido a JRM Diseño Web',
              text: 'En éste, mi espacio de internet, demostraré mis capacidades para el diseño y desarrollo web, entre otras cosas. Acompáñame en este viaje de crecimiento personal.'
            },
            cards: [
             {
                title: 'Improving Firefox stability on Linux',
                text: 'Roughly a year ago at Mozilla we started an effort to improve Firefox stability on Linux. This effort quickly became an example of good synergies between FOSS projects.The post Improving Firefox stability on Linux appeared first on Mozilla Hacks - the Web developer blog.',
                link: 'posts/JavaScriptNotesForProfessionals.html',
                date : 'Posted Wednesday, May 19, 2021 by Gabriele Svelto'
              },
              {
                title: 'Introducing Firefox’s new Site Isolation Security Architecture',
                text: 'Like any web browser, Firefox loads code from untrusted and potentially hostile websites and runs it on your computer. To protect you against new types of attacks from malicious sites and to meet the security principles of Mozilla, we set out to redesign Firefox on desktop.The post Introducing Firefox’s new Site Isolation Security Architecture appeared first on Mozilla Hacks - the Web developer blog.',
                link: 'posts/JavaScriptNotesForProfessionals.html',
                date : 'Posted Tuesday, May 18, 2021 by Anny Gakhokidze'
              },
              {
                title: 'JavaScript Notes for Professionals',
                text: 'Adaptacion del manual de Javascript, en html.',
                link: 'posts/JavaScriptNotesForProfessionals.html',
                date : 'hoy'
              },
              {
                title: 'Test',
                text: 'Pagina de prueba de experimentos',
                link: 'posts/test.html',
                date : 'hoy'
              },
              {
                title: 'Vue',
                text: 'The Progressive JavaScript Framework',
                link: 'https://v3.vuejs.org/',
                date : 'hoy'


              },
              {
                title: 'Bootstrap',
                text: 'Framework de CSS',
                link: 'https://getbootstrap.com/',
                date : 'hoy'
              }
            ],
            about: {
              title: 'Jose Rivera',
              body: 'Desarrollador front-end ',
              list: [
                {
                  link: '#',
                  text: 'Getting started'
                },
                {
                  link: '#',
                  text: 'Contributing to MDN content'
                },
                {
                  link: '#',
                  text: 'Contributing to the MDN codebase'
                },
                {
                  link: '#',
                  text: 'Updating browser compatibility data'
                }
              ]
            }
          }
        }
      }
      const app = Vue.createApp(rootComponent)
    </script>
    <script src="js/script.js"></script>
  </body>
</html>