<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>JRM Diseño Web</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body class="bg-black text-light padding-top-navbar">
    <div id="app">
      <app-navbar></app-navbar>
      <div class="py-3 mb-3 rounded-3 bg-dark text-light bg-img-cover">
        <div class="container">
          <div class="lead display-4">
            {{ intro.title }}
          </div>
          <hr>
          <p>{{ intro.text }}</p>
        </div>
      </div>
      <div class="container my-3">
        
        <div class="row">
          <div class="col-lg-8">
            <h2 class="fw-bold">Novedades</h2>
            <p>Read more at hacks.mozilla.org</p>
            <app-simple-card  v-for="card in featured" :item="card" class="mb-3"></app-simple-card>
          </div>
          <div class="col-lg-4">
            <h5 class="card-title fw-bold h2">{{ about.title }}</h5>
            <p class="card-text">{{ about.body }}</p>           
            <div v-for="item in about.list" >
              <a :href="item.link" class="text-decoration-none">{{ item.text }}</a>
              <hr class="my-2">
            </div>
          </div>
        </div>   
      </div>
      <app-footer></app-footer>
    </div>
    <script>
      
        
        let home = {
            intro: {
              title: 'Bienvenido a JRM Diseño Web',
              text: 'En éste, mi espacio de internet, demostraré mis capacidades para el diseño y desarrollo web, entre otras cosas. Acompáñame en este viaje de crecimiento personal.'
            },
            featured: [
             {
                title: 'His Dark Materials',
                text: 'La materia oscura (en inglés, His Dark Materials) es una serie de televisión de fantasía británica basada en la serie de novelas del mismo nombre de Philip Pullman. Está producida por New Line Cinema y Jane Tranter y Julie Gardner de Bad Wolf para BBC One y HBO, siendo esta última la encargada de su distribución internacional.',
                link: 'posts/his-dark-materials/chapters.html',
                date : 'Publicado Sábado, 5 de junio, 2021'
              },
              {
              title: 'Algebra de Baldor, preliminares',
              text: 'Adaptación de los preliminares del libro Algebra de Baldor para practicar el uso de algunas etiquetas poco comunes de HTML',
              link: 'posts/baldor-algebra/preliminares.html',
              date : 'Publicado Miercoles, 2 de junio, 2021'
              },    
              {
                title: 'JavaScript Notes for Professionals',
                text: 'Adaptacion de algunos capitulos del manual de Javascript, en html.',
                link: 'posts/JavaScriptNotesForProfessionals.html',
                date : 'hoy'
              }
            ],
            about: {
              title: 'Jose Rivera',
              body: 'Desarrollador front-end, apasionado de las peliculas y antiguo entusiasta de las matematicas.',
              list: [
                {
                  link: '#',
                  text: 'Getting started'
                },
                {
                  link: '#',
                  text: 'Contributing to MDN content'
                },
                {
                  link: '#',
                  text: 'Contributing to the MDN codebase'
                },
                {
                  link: '#',
                  text: 'Updating browser compatibility data'
                }
              ]
            }
          }
      let root = home
    </script>
    <script src="js/main.js"></script>
  </body>
</html>