<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/vue-router@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>JRM Diseño Web</title>
    <style>
      .bg-black{
        background: black;
      }
    </style>
  </head>
  <body class="bg-black text-light" style="padding-top:3rem">
    <div id="app">
      <app-navbar :navbar="navbar"></app-navbar>
      <router-link to="/">Go to Home</router-link>
      <router-link to="/about">Go to About</router-link>
      <app-page-home :home="home"></app-page-home>
      <router-view></router-view>
      <app-footer :footer="footer"></app-footer>
    </div>
    <script>
      const rootComponent = {
        data() {
          return {
            navbar: {
              brand: 'JRM',
              nav: [
                {link: '#',  text: 'Nosotros'},
                {link: '#', text: 'Galeria'},
                {link: '#', text: 'Articulos'},
                {link: '#', text: 'Proyectos'}
              ]
            },
            footer:{
              brand: '2021 - JRM',
              links: [
                {
                  icon: 'bi bi-facebook',
                  link: 'https://facebook.com'
                },
                {
                  icon: 'bi bi-linkedin',
                  link: 'https://linkedin.com'
                }
              ]
            },
            home: {
              carousel: [
                {
                  image: 'https://picsum.photos/800/300',
                  alt: ''
                },
                {
                  image: 'https://picsum.photos/800/300',
                  alt: ''
                }
              ],
              intro: {
                title: 'Bienvenido a JRM Diseño Web',
                text: 'En éste, mi espacio de internet, demostraré mis capacidades para el diseño y desarrollo web, entre otras cosas. Acompáñame en este viaje de crecimiento personal.'
              },
              cards: [
                {
                  image: 'https://picsum.photos/300/200',
                  alt: '...',
                  title: 'JavaScript Notes for Professionals',
                  text: 'Adaptacion del manual de Javascript, en html.',
                  button: {
                    link: 'JavaScriptNotesForProfessionals.html',
                    text: 'Ver más'
                  }
                },
                {
                  image: 'https://picsum.photos/200/100',
                  alt: '...',
                  title: 'Mi primer post',
                  text: 'Texto del post',
                  button: {
                    link: '#',
                    text:'Adiós'
                  }
                },
                {
                  image: 'https://picsum.photos/200/100',
                  alt: '...',
                  title: 'Mi segundo post',
                  text: 'Texto del post',
                  button: {
                    link: '#',
                    text:'Adiós'
                  }
                },
                {
                  image: 'https://picsum.photos/200/100',
                  alt: '...',
                  title: 'Mi tercer post',
                  text: 'Texto del post',
                  button: {
                    link: '#',
                    text:'Adiós'
                  }
                }
              ]
            },
            about: {
              title: 'Sobre mí',
              cards: [
                {
                  image: 'https://picsum.photos/400/200',
                  alt: 'yo',
                  title: 'Jose Rivera',
                  text: 'Me considero una persona responsable, optimista, creativa impulsador de metas y desafios prsonales, capaz de vencer los miedos para generar cambios, con capacidad para el trabajo en equipo',
                  list: ['Estudiante en computacion', 'Estudiante en diseño gráfico'],
                  buttons: [
                    {
                      icon: 'bi bi-facebook',
                      link: 'https://facebook.com'
                    },
                    {
                      icon: 'bi bi-linkedin',
                      link: 'https://linkedin.com'
                    }
                  ]
                }
              ]
            },
            gallery: {
              title: 'Galeria',
              cards: [
                {
                  image: '...',
                  alt: '...',
                  description: '...'
                }
              ]
            },
            posts: {
              title: 'Artículos',
              cards: [
                {
                  image: 'https://picsum.photos/200/100',
                  alt: '...',
                  title: 'Mi primer post',
                  text: 'Texto del post',
                  button: {
                    link: '#',
                    text:'Hola'
                  }
                }
              ]
            },
            projects: {
              title: 'Proyectos',
              cards: [
                {
                  image: 'https://picsum.photos/200/100',
                  alt: '...',
                  title: 'Mi primer post',
                  text: 'Texto del post',
                  button: {
                    link: '#',
                    text:'Hola'
                  }
                }
              ]
            }
          }
        }
      }
      const app = Vue.createApp(rootComponent)
      //components
      //buttons
      app.component('app-btn-icon',{
        props: ['button'],
        template: `
          <a :href=" button.link" class="btn btn-outline-light">
            <i :class="button.icon"></i>
          </a>
        `
      })
      app.component('app-btn',{
        props: ['button'],
        template: `
          <a class="btn btn-primary" :href="button.link" role="button">{{ button.text }}</a>
        `
      })
      //cards
      app.component('app-card',{
        props: ['card'],
        template: `
          <div class="card bg-dark">
            <img :src="card.image" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ card.title }}</h5>
              <p class="card-text">{{ card.text }}</p>
              <app-btn :button="card.button"></app-btn>
            </div>
          </div>
        `
      })
      app.component('list-group-flush',{
        props: ['item'],
        template: `
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-dark text-light">{{ item }}</li>
          </ul>
        `
      })
      app.component('kitchen-sink',{
        props: ['card'],
        template: `
          <div :card="card" class="card bg-dark" style="width: 18rem;">
            <img :src="card.image" class="card-img-top" :alt="card.alt">
            <div class="card-body">
              <h5 class="card-title">{{ card.title }}</h5>
              <p class="card-text">{{ card.text }}</p>
            </div>
            <list-group-flush v-for="(item, index) in card.list" :item="item" :class="{'fw-bold': index===0}"></list-group-flush>
            <div class="card-body">
              <app-btn-icon v-for="button in card.buttons" :button="button" class="me-2"></app-btn-icon>
            </div>
          </div>
        `
      })
      app.component('app-carousel',{
        props: ['carousel'],
        template: `
          <div id="carouselExampleControls" class="carousel slide mb-2" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item" v-for="(item, index) in carousel" :class="{'active': index === 0}">
                <img :src="item.image" class="d-block w-100" :alt="item.alt">
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        `
      })
      app.component('app-jumbotron',{
        props: ['jumbotron'],
        template: `
          <div class="p-4 mb-3 rounded-3 bg-dark text-light">
            <div class="lead display-4">{{ jumbotron.title }}</div>
            <hr>
            <p>{{ jumbotron.text }}</p>
          </div>
        `
      })
      app.component('app-navbar',{
        props:['navbar'],
        template: `
          <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark mb-2">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">{{ navbar.brand }}</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li v-for="item in navbar.nav" class="nav-item">
                    <a class="nav-link" :href="item.link">{{ item.text }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        `
      })
      app.component('app-footer',{
        props: ['footer'],
        template:`
          <div class="bg-dark">
            <div class="container py-2">
              <div class="row justify-content-between align-items-center">
                <div class="col d-flex justify-content-start">
                  {{ footer.brand }}
                </div>
                <div class="col d-flex justify-content-end">
                  <app-btn-icon v-for='item in footer.links' :button="item" class="me-2"></app-btn-icon>
                </div>
              </div>
            </div>
          </div>
        `
      })
      app.component('app-page-home', {
        props: ['home'],
        template:`
          <div class="container my-3">
            <app-carousel :carousel="home.carousel"></app-carousel>
            <app-jumbotron :jumbotron="home.intro"></app-jumbotron>
            <h2>Novedades</h2>
            <div class="row">
              <div v-for="card in home.cards" class="col-12 col-sm-6 col-md-4 col-xl-3">
                <app-card :card="card" class="mb-2"></app-card>
              </div>
            </div>   
          </div>
        `
      })
      app.component('app-page-about', {
        props: ['about'],
        template:`
          <div class="container my-3 d-flex justify-content-center">
            <kitchen-sink v-for="card in about.cards" :card="card"></kitchen-sink> 
          </div>
        `
      })
      const Home = {
          props: ['title'],
          template: '<div>{{ title }}</div>' 
          
      }
      const About = { template: '<div>About</div>' }

      //routing
      const routes = [
        {
          path: '/', 
          component: Home,
          props: {
              title: 'hola'
          }
        },
        { 
          path: '/about', 
          component: About,
          props: true
        }
      ]
      const router = VueRouter.createRouter({
        // 4. Provide the history implementation to use. We are using the hash history for simplicity here.
        history: VueRouter.createWebHashHistory(),
        routes// short for `routes: routes`
      })
      app.use(router)
      app.mount('#app')
    </script>
  </body>
</html>