<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/vue@next"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>LUZ DEL SUR</title>
    <style>
      .text-primary {
        color: #314b75 !important;
      }
      .list-icon{
        width: 60px;
      }
      a {
        color: currentColor;
        text-decoration: none;
      }
      .item-list {
        width: 100px;
        height: 140px;
        color: #314b75;
        font-size: 12px;
        transition: all 200ms ease-in-out;
        word-wrap: break-word;
      }
      .item-list:hover {
        color: #ECBB4D;
        background: #F5F5F5;

      }
      .navbar-logo {
        height: 30px;
      }
      .aside-item {
        width: 200px;
      }
      .footer-bg {
        background: lightgrey;
      }
      .lst-chevron{
        list-style-type: "» ";
      }
      .lst-chevron ::marker {
        color: grey;
        font-style: italic;
      }
    </style>
</head>

<body>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-md">
        <a class="navbar-brand" href="#">
          <img class="navbar-logo" src="https://www.luzdelsur.com.pe/media/images/plantilla/logos/logo.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li v-for="li in navbar" class="nav-item" :class="li.items? 'dropdown' : false">
              <a class="nav-link text-primary fw-bold" :class="li.items? 'dropdown-toggle' : false" :href="!li.items? li.link: '#'" :id="li.id" :role="li.items? 'button' : false" :data-bs-toggle="li.items? 'dropdown' : false" :aria-expanded="li.items? 'false' : false">
                {{ li.title }}
              </a>
              <ul v-if="li.items" class="dropdown-menu" :aria-labelledby="li.id">
                <li v-for="item in li.items"><a class="dropdown-item" :href="item.link">{{ item.text }}</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-md">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://www.luzdelsur.com.pe/media/images/banners/nuevobanner_fraccion.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.luzdelsur.com.pe/media/images/banners/Arte-SliderMiLectura_AF.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.luzdelsur.com.pe/media/images/banners/AFSliderNuevoMedidor.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
      <div class="row">
        <main class="col-md-8">    
          <div class="row my-3">
            <div v-for="item in items" class="col-4 col-sm-3 col-lg-2 d-flex flex-column align-items-center">
              <a class="item-list m-2 p-2 fw-bold" :href="item.link">
                <img class="list-icon d-block m-auto" :src="item.icon" alt="pagos en línea" />
                <div class="text-center mt-3">{{ item.text }}</div>
              </a>
            </div>  
          </div>
        </main>
        <aside class="col-md-4 container-md" >
          <div class="row d-flex justify-content-center">
            <a class="aside-item my-3 col-6 col-md-12" href="https://zsp1.luzdelsur.com.pe/ofvirtual/Account/ConsultaRecibos">
              <img  class="d-block w-100" src="https://www.luzdelsur.com.pe/media/images/boton_descargaturecibo.png" alt="Descarga tu recibo">
            </a>
            <a class="aside-item my-3 col-6 col-md-12" href="https://www.luzdelsur.com.pe/fonoluz.html">
              <img class="d-block w-100" src="https://www.luzdelsur.com.pe/media/images/plantilla/shortcuts/nuevos/FONOLUZ.png" alt="fonoluz">
            </a>
          </div>
          
        </aside>
      </div>
    </div>   
    <footer class="footer-bg">
      <div class="container-md py-4">
        <div class="row">
          <nav class="col-sm-6 col-md-4" v-for="nav in footer">
            <h2 class="text-primary fs-6 fw-bold text-uppercase">{{ nav.title }}</h2>
            <ul class="lst-chevron">
              <li v-for="item in nav.items">
                <a class="text-secondary fst-italic" :href="item.link">{{ item.text }}</a>
              </li>
            </ul>        
          </nav>  
        </div>       
      </div>      
    </footer>
    <div class="container text-primary fst-italic">©2017 Luz del Sur. Todos los derechos reservados.</div>
  </div>
  
  <script>
    const rootComponent = {
      data() {
        return {
          navbar: [
            {
              //id: 'navbarDropdown1',
              title: 'Inicio',
              link: 'www.google.com'
              //items: []
            },
            {
              title: 'Nosotros',
              link: 'www.google.com'
            },
            {
              title: 'Servicios',
              link: 'www.google.com'
            },
            {
              title: 'Socialmente responsables',
              link: 'www.google.com'
              /*items: [
                {
                  link: 'www.google.com',
                  text: 'nosotros 1'
                }
              ]*/
            },
            {
              title: 'Accionistas',
              link: 'www.google.com'
            }
          ],
          items: [
            {
              link: 'https://zsp1.luzdelsur.com.pe/ofvirtual/Account/PagoEnLinea',
              icon: 'https://www.luzdelsur.com.pe/media/images/plantilla/shortcuts/botones2019/nuevos/pagoslinea.png',
              text: 'Pago en Línea'
            },
            {
              link: 'https://zsp1.luzdelsur.com.pe/ofvirtual/Account/PagoEnLinea',
              icon: 'https://www.luzdelsur.com.pe/media/images/plantilla/shortcuts/botones2019/nuevosuministro.png',
              text: 'Mis Conexiones'
            },
            {
              link: 'https://zsp1.luzdelsur.com.pe/ofvirtual/Account/PagoEnLinea',
              icon: 'https://www.luzdelsur.com.pe/media/images/plantilla/shortcuts/botones2019/mi_lectura.png',
              text: 'Mi Lectura'
            },
            {
              link: 'https://zsp1.luzdelsur.com.pe/ofvirtual/Account/PagoEnLinea',
              icon: 'https://www.luzdelsur.com.pe/media/images/plantilla/shortcuts/botones2019/comoleer.png',
              text: 'Cómo leer mi Recibo'
            },
            {
              link: 'https://zsp1.luzdelsur.com.pe/ofvirtual/Account/PagoEnLinea',
              icon: 'https://www.luzdelsur.com.pe/media/images/plantilla/shortcuts/botones2019/nuevos/lugaresdepago.png',
              text: 'Lugares de Pago'
            },
            {
              link: 'https://zsp1.luzdelsur.com.pe/ofvirtual/Account/PagoEnLinea',
              icon: 'https://www.luzdelsur.com.pe/media/images/plantilla/shortcuts/botones2019/nuevos/consulta.png',
              text: 'Consulta de Solicitudes'
            },
            {
              link: 'https://zsp1.luzdelsur.com.pe/ofvirtual/Account/PagoEnLinea',
              icon: 'https://www.luzdelsur.com.pe/media/images/plantilla/shortcuts/botones2019/nuevos/corte.png',
              text: 'Corte por Mantenimiento'
            },
            {
              link: 'https://zsp1.luzdelsur.com.pe/ofvirtual/Account/PagoEnLinea',
              icon: 'https://www.luzdelsur.com.pe/media/images/plantilla/shortcuts/botones2019/nuevos/tarifas.png',
              text: 'Tarifas'
            },
            {
              link: 'https://zsp1.luzdelsur.com.pe/ofvirtual/Account/PagoEnLinea',
              icon: 'https://www.luzdelsur.com.pe/media/images/plantilla/shortcuts/botones2019/nuevos/preguntas.png',
              text: 'Preguntas Frecuentes'
            },
            {
              link: 'https://zsp1.luzdelsur.com.pe/ofvirtual/Account/PagoEnLinea',
              icon: 'https://www.luzdelsur.com.pe/media/images/plantilla/shortcuts/botones2019/nuevos/informacion.png',
              text: 'Información de Reclamos'
            }
          ],
          footer: [
            {
              title: 'Menú principal',
              items: [
                {
                  link: 'https://www.luzdelsur.com.pe/home.html',
                  text: 'Inicio'
                },
                {
                  link: 'https://www.luzdelsur.com.pe/nosotros',
                  text: 'Nosotros'
                },
                {
                  link: 'https://www.luzdelsur.com.pe/nosotros',
                  text: 'Servicios'
                },
                {
                  link: 'https://www.luzdelsur.com.pe/nosotros',
                  text: 'Consejos de seguridad'
                },
                {
                  link: 'https://www.luzdelsur.com.pe/nosotros',
                  text: 'Preguntas frecuentes'
                },
                {
                  link: 'https://www.luzdelsur.com.pe/home.html',
                  text: 'Tarifas'
                },
                {
                  link: 'https://www.luzdelsur.com.pe/nosotros',
                  text: 'Oficina virtual'
                },
                {
                  link: 'https://www.luzdelsur.com.pe/nosotros',
                  text: 'Contáctenos'
                },
                {
                  link: 'https://www.luzdelsur.com.pe/nosotros',
                  text: 'FISE'
                },
                {
                  link: 'https://www.luzdelsur.com.pe/nosotros',
                  text: 'Información y Atención de Reclamos'
                },
                {
                  link: 'https://www.luzdelsur.com.pe/nosotros',
                  text: 'Consulta de Solicitudes'
                },
                {
                  link: 'https://www.luzdelsur.com.pe/nosotros',
                  text: 'Consultas Osinergmin'
                }
              ]
            },
            {
              title: 'Servicios',
              items: [
                {
                  link: '#',
                  text: 'Acerca de su medidor'
                },
                {
                  link: '#',
                  text: 'Lugares de pago'
                },
                {
                  link: '#',
                  text: 'Clientes Libres'
                },
                {
                  link: '#',
                  text: 'Sucursales'
                },
                {
                  link: '#',
                  text: 'Nuestra App'
                }
              ]
            },
            {
              title: 'Enlaces de interés',
              items: [
                {
                  link: '#',
                  text: 'Osinergmin'
                },
                {
                  link: '#',
                  text: 'Portal FISE'
                },
                {
                  link: '#',
                  text: 'SNMPE'
                },
                {
                  link: '#',
                  text: 'SMV - Hechos de Importancia'
                },
                {
                  link: '#',
                  text: 'SMV - Información Financiera'
                }
              ]
            }
          ]
        }
      }
    }
    const app = Vue.createApp(rootComponent)
    const vm = app.mount('#app')
  </script>

</body>

</html>